html {
  scroll-behavior: smooth;
}
.mini-main {
  background-image: url("./image/main.png");
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: contain;
  min-height: 100vh;
}
@font-face {
  font-family: "Cafe24SsongSsong";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "NexonBazzi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
#about {
  background-color: #ffffff;
  font-family:
    "NexonBazzi", sans-serif; /* 기호에 맞는 귀여운 폰트로 변경 가능 */
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
