*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
p,
ul,
li,
table,
caption,
th,
td,
form,
label {
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  background: radial-gradient(
    circle at top right,
    #defa9d 0,
    transparent 320px
  );
  font-family:
    "pretendard",
    "note sans kr" sans-serif;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
@font-face {
  font-family: "KerisKeduLine";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_Line.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
